body {
  font-family: "Yatra One", cursive;
  background: url(../images/batman.jpg);
  background-repeat: repeat-y;
  font-size: 24px;
  color:white;
  text-align: center;
  overflow-x: hidden;
}

h1 {
  font-size: 4rem;
  padding:35px 0;
  text-align: center;
}

.information {
  font-size: 2rem;
  padding:20px 14px;
  line-height: 35px;
}

.container p:nth-of-type(2) {
  margin: 60px 0px;
}

hr {
  width: 80%;
  margin: 25px auto;
}

.main {
  width: 50%
}

.word-to-guess {
  margin-top: 40px;

}

#placeholders {
  font-size: 36px;
}

#pressedLetters {
  text-transform: uppercase;
}

#letterBank {
  margin-top: 25px
}

.card-title {
  background-color: darkslategrey;
}

.hangman {
  width: 50%;
}

.zero {
  background-color: grey;
  position: absolute;
}
.one {
  background-color: grey;
  position: absolute;
}
.two {
  background-color: grey;
  position: absolute;
}
.three {
  background-color: grey;
  position: absolute;
}
.four {
  background-color: grey;
  position: absolute;
}
.five {
  background-color: grey;
  position: absolute;
}
.six {
  background-color: grey;
  position: absolute;
}